{{ define "main" }}
    
    <main class="posts">
        <h1>{{ .Title }}</h1>

        <hr>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $key, $taxonomy := .Site.Taxonomies.field }}
            <div class="posts-group">
                <!-- <div class="post-group-container"> -->
                    <div class="post-group-tag">{{ $key }}</div>
                <!-- </div> -->
                <ul class="posts-list">
                    {{ range .Pages.ByTitle }}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">
                                    {{ .Date.Format "Jan 2 2006" }}
                                </span>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    </main>
{{ end }}
