.posts {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $light-border-color;

    .dark-theme & {
      border-color: $dark-border-color;
    }
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;
    position: relative;

    @media #{$media-size-tablet} {
      display: block;
      position: unset;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 2em;
    @media #{$media-size-tablet} {
      margin-left: 0;
    }
  }

  .post {
    &-title {
      font-size: 1rem;
      margin: 5px 0 5px 0;
    }

    &-year {
      font-size: 1.6em;
      transform: rotate(-90deg);
      position: absolute;
      top: 1.4em;
      left: -0.9em;
      color: $accent;
      
      @media #{$media-size-tablet} {
        padding-top: 6px;
        margin-right: 1.8em;
        font-size: 1.6em;
        margin: -6px 0 4px;
        transform: rotate(0);
        position: unset;
      }
    }

    &-item {
      border-bottom: 1px $accent solid;
      &:last-of-type {
        border-bottom: none;
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 12px 0;
        text-decoration: none;
      }
    }

    &-day {
      // flex-shrink: 0;
      margin-left: 1em;
      // @include dimmed;
    }
  }
}
