{{ define "main" }}
    <main class="post">

        <div class="post-info">

        </div>

        <article>
            <h1 class="post-title">{{ .Title | markdownify }}</h1>

            

            {{ if .Params.toc }}
                <hr />
                <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
            {{ end }}

            {{ with .Params.Cover }}
                <img src="{{ . | relURL }}" class="post-cover" />
            {{ end }}

            <hr />

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>
    </main>
{{ end }}
