<div class="pagination">
    <div class="pagination__buttons">
        <span class="previous">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}">
                    <span class="button__icon">←</span>
                    <span class="button__text">Newer posts</span>
                </a>
            {{ end }}
        </span>
        <span class="next">
            {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}">
                    <span class="button__text">Older posts</span>
                    <span class="button__icon">→</span>
                </a>
            {{ end }}
        </span>
    </div>
</div>
